.button {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin: 2px;
    
}
.row {
    width: 300px;
    display: flex;
}

#panel {
    width: 300px;
    height: 50px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin: 2px;
    padding-right: 3px;
    text-align: right;
    font-size: 30pt;
}

.button_large {
    width: 150px;
    height: 30px;
}
.button_small {
    width: 75px;
    height: 30px
}
